body{
    font-family: 'Roboto', sans-serif;
    h1.title-header {
        margin: 2rem 1rem;
    }
}

.active{
    *{
        color: #FFF !important;
    }
    background-color: #66b2ff;
}

.orange{
    color: #ff4108 !important;
}

.blue{
    color: #0053a6 !important;
}

section{
    display: flex;
    flex-flow: row;
    margin: 2rem 1rem;
    border: 1px solid #f0f0f0;
    padding: 1rem;

    @media only screen and (max-width: 768px){
        flex-flow: column;
    }
    
    div.facturas{
        flex:1;
        margin-right: 1rem;
        @media only screen and (max-width: 768px){
            margin-right: 0;
        }
    }
    div.info{
        background-color: #f0f0f0;
        border: 2px solid transparent;
        flex: 2 1;
        width: 100%;
        padding: 1rem 5rem;
        display: flex;
        flex-flow: column;
        justify-content: space-around;

        @media only screen and (max-width: 768px){
            padding: 1rem;
        }

    }
}